<div><button class="btn btn-primary" (click)="backToPreviousPage()">Back to previous page</button></div>
<hr>
<h3>Author</h3>
{{idea?.author}}
<br>
<h3>brief</h3>
{{idea?.brief}}
<br>
<h3>content</h3>
{{idea?.content}}
<br>
<h3>fileLocation</h3>
{{idea?.fileLocation}}
<div *ngIf="idea?.fileLocation != ''">
    <button class="btn btn-primary" (click)="download(idea?.fileLocation)">Download</button>

</div>
<br>

<div>
    <h2>Comment</h2>
    <div>
        <input class="form-control" type="text" [(ngModel)]="commentInput" placeholder="Enter your opinion...">
        <button (click)="SendComment()" class="btn btn-primary">Comment</button>
    </div>
    <hr>
    <div *ngFor ="let c of comments">
        ({{c.createdDate}})-{{c.commentContent}}
        <hr>
    </div>

</div>