<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">SystemMgt</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>


      <li class="nav-item bg-dark" *ngIf="showAdminBoard">
        <select class="nav-link dropdown-toggle bg-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdownMenuLink" onchange="location = this.value;">
          <option selected> <a href="/#" class="nav-link" routerLink="admin">Management</a></option>
          <option value="/category"> <a href="/category" class="nav-link" routerLink="admin">Category</a></option>
          <option value="/topic/view"> <a href="/topic/view" class="nav-link" routerLink="admin">Submission</a></option>
          <option> <a href="/#" class="nav-link" routerLink="admin">Department</a></option>
          <option> <a href="/#" class="nav-link" routerLink="admin">Role</a></option>
          <option> <a href="/#" class="nav-link" routerLink="admin">User</a></option>
        </select>
        
      </li>

      <li class="nav-item">
        <a href="/staff" class="nav-link" *ngIf="isLoggedIn" routerLink="staff">Idea Submission</a>
      </li>
      <li class="nav-item">
        <a href="/analytics" class="nav-link" *ngIf="showAdminBoard||showManagerBoard" routerLink="analytics">Analytics</a>
      </li>
      <li class="nav-item">
        <a href="/dept" class="nav-link" *ngIf="showDeptBoard" routerLink="dept">dept</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
