
<div *ngIf="showAlert" class="alert alert-danger" role="alert">
    this Idea could not be saved because closure date exceeded!
  </div>
<div>
    <div *ngIf="showDoneAlert" class="alert alert-success" role="alert">
        Idea is saved!
      </div>
    <div>
    <button (click)="goToCreateCategory()" class="btn btn-success">Create Idea</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let c of content">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td><button class="fa fa-edit" style="color: red;"(click)="getCate(c.id)"></button> | <button class="fa fa-info" style="color: red;"(click)="detailCate(c.id)"></button> | <button class="fa fa-trash" style="color: red;"(click)="deleteCate(c.id)"></button></td>
        </tr>
    </tbody>

</table>
