<div><button (click)="backToList()" class="btn btn-primary">Back to List</button></div>
<hr>
<div *ngIf="showAlert" class="alert alert-danger" role="alert">
    this Idea could not be saved because closure date exceeded!
  </div>
<div>
    <div *ngIf="showDoneAlert" class="alert alert-success" role="alert">
        Idea is saved!
      </div>
    <div>
    <button (click)="goToCreateIdea()" class="btn btn-success">Create Idea</button>
</div>
<table class="table table-striped table-responsive-lg ">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">brief</th>
            <th scope="col">content</th>
            <th scope="col">author</th>
            <th scope="col">file_location</th>
            <th scope="col">views</th>
            <th scope="col">like</th>
            <th scope="col">dislike</th>
            <th style="width: max-content;" class="w-75"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let t of ideas">
            <td>{{t.id}}</td>
            <td>{{t.brief}}</td>
            <td>{{t.content}}</td>
            <td>{{t.author}}</td>
            <td>{{t.file}}</td>
            <td>{{t.views}}</td>
            <td>{{t.totalLike}}</td>
            <td>{{t.totalDislike}}</td>
            <td><a href="/detailIdea/{{t.id}}" routerLink="/detailIdea/{{t.id}}">Details</a> | <button class="btn btn-link" (click) = "reactionIdea(true,t.id)">Like</button> | <button class="btn btn-link" (click) = "reactionIdea(false,t.id)">Dislike</button></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td><button style="float: left;" (click)="goPreviousPage()" class="btn btn-link">previous</button></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button style="float: right;" (click)="goNextPage()" class="btn btn-link" [ngClass]="{'hideBtn': currPage>=totalPages}">next</button> </td>
        </tr>
      </tfoot>
  </table>
  